.cart {
  width: 420px;
  height: 600px;
}

.cart__image {
  img {
    width: 420px;
    height: 420px;
  }
}
.cart__price {
  h4 {
    margin: 10px 0;
  }
  hr {
    width: 20px;
  }
  span {
    margin: 20px 0;
  }
  button {
    width: 300px;
    height: 35px;
    background: black;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
  }
  .itemCart {
    width: 300px;
    height: 35px;
    background: #be4528;
    color: white;
    font-size: 21px;
    letter-spacing: 2px;
    border: none;
  }
  .btn {
    background: darkgray;
  }
}

